<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style2.css">
  <title>MIDIMaker</title>
  <script>
    function cargando() {
      document.querySelector("#traducir .formulario").style.display = "none";
      document.querySelector("#traducir .cargando").style.display = "block";
      document.querySelector("#traducir").classList.add("spinner");
    }
  </script>
</head>
<body>
  <div class="bg-image"></div>
  <div class="bg-overlay"></div>
  <header id="header">
    <div id="logo">
      <div class="logo"></div>
    </div>
    <% if(typeof msg != 'undefined') { %>
      <div class="alert alert-success" role="alert">
        <%= msg %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% } %>
    <% if(typeof err != 'undefined') { %>
      <div class="alert alert-danger" role="alert">
        <%= err %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% } %>
  </header>
  <main id="main">
    <% if(etapa == 'subir') { %>
      <div id="subir">
        <h2>Subir fichero</h2>
        <p>Seleccione el fichero de audio que desea convertir</p>
        <p>Formatos permitidos: .wav, .mp3, .m4a</p>
        <form action="/upload" method="POST" enctype="multipart/form-data" style="display: inline">
          <input type="file" name="MyFile">
          <button type="submit" class="btn btn-primary">Subir</button>
        </form>
      </div>
    <% } %>

    <% if(etapa == 'traducir') { %>
      <div id="traducir">
        <h2>Traducir fichero</h2>
        <div class="cargando" style="display:none">
          <p>Espere mientras traducimos el fichero de audio</p>
          <p>El tiempo de espera depende de la duración del audio, pero normalmente solo llevará unos segundos...</p>
        </div>
        <div class="formulario">
          <p>Fichero a traducir: <%= file %></p>
          <span>Elija el instrumento utilizado en el audio</span>
          <form class="radio" action="/traduce" method="POST">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="instrumento" id="radio1" value="piano" checked>
              <label class="form-check-label" for="radio1">
                Piano
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="instrumento" id="radio2" value="guitarra">
              <label class="form-check-label" for="radio2">
                Guitarra
              </label>
            </div>
            <div class="form-check disabled">
              <input class="form-check-input" type="radio" name="instrumento" id="radio3" value="piano">
              <label class="form-check-label" for="radio3">
                Otro
              </label>
            </div>
            <p>NOTA: Aunque no elija el instrumento la aplicación funcionará correctamente, pero será más preciso si elige el instrumento</p>
            <button type="submit" onclick="cargando()"class="btn btn-primary">Traducir a MIDI</button>
          </form>
        </div>
      </div>
    <% } %>
    
    <% if(etapa == 'bajar') { %>
      <div id="bajar">
        <h2>Descargar fichero</h2>
        <p>Aquí tiene su partitura en formato MIDI:</p>
        <p><%= file %></p>
        <form action="/download" method="GET" style="display: inline">
          <button type="submit" class="btn btn-primary">Descargar</button>
        </form>
        <form action="/download" method="POST" style="display: inline">
          <button type="submit" class="btn btn-primary">Finalizar</button>
        </form>
      </div>
    <% } %>

    <% if(etapa == 'finalizar') { %>
      <div id="finalizar">
        <h2>Gracias por usar nuestra aplicación :)</h2>
        <form action="/home" method="GET">
          <button type="submit" class="btn btn-primary">Volver a Inicio</button>
        </form>
      </div>
    <% } %>
    
  </main>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
