*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size:1rem;
  font-weight:normal;
  line-height:1.5;
  color:#000;
  overflow: hidden;
}

/* Background image */
.bg-image{
  background: url('../img/partitura.jpg');
  background-position: center;
  background-size: cover;
  position:absolute;
  top:0;
  left:0;
  height:20vh;
  width:100vw;
  z-index:-2;
}

.bg-overlay{
  height:20vh;
  position: absolute;
  top:0;
  left:0;
  width:100vw;
  z-index:-1;
  background:#000;
  opacity:0.5;
}

/* Spinner */
.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  border: 5px solid lightgray;
  border-top-color: coral;
  animation: spinner 0.7s ease infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

/* Text Setting */
#subir, #traducir, #bajar, #finalizar, #logo {
  display:flex;
  flex-direction: column;
  align-items:center;
  padding-left:1rem;
  padding-right:1rem;
  text-align:center;
  position: center;
  padding: 2.5vh 2.5vh 2.5vh 2.5vh;
  box-sizing: border-box;
  margin: 0 30vw 0 30vw;
}

#header .alert{
  margin: 0;
}

#logo .logo {
  padding: 2.5vh 2.5vh 2.5vh 2.5vh;
  height: 15vh;
  width: 36vh;
  background: url('../img/logo.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

p {
  border: 1px solid red;
}